
#Tdata {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#Tdata td, #Tdata th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#Tdata tr:nth-child(even){background-color: #f2f2f2;}

#Tdata tr:hover {background-color: #ddd;}
  
#Tdata th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #423a3d;
	color: white;
}

.Search{
    padding: 20px;
}

.UsTable{
    margin: 10px 40px 25px 40px;
}

.changeClick{
    color: rgb(61, 127, 250);
}

.changeClick:hover {
    text-decoration: underline;
    cursor: pointer;
}