//=========================================================
//  SignIn
//---------------------------------------------------------

.sign-in {
  margin-top: 90px;
  max-width: 300px;

  &__actions {
    margin: 25px 40% 0 42%;
    li {
      float: left;
      list-style: none;
      width: 23%;

      text-align: center;
      
      a {
         cursor: pointer;
      }
    }
  }
}

.sign-up {
  &__actions {
    margin: 0 40% 0 41%;
    a{
      color: #757981;
      padding-right: 5px;
    }
    p {
      text-align: center;
    }
  }
}

