/* .ints{
    width: 45%;
    float: left;
}

.bg {
    background-image: url("../../assets/images/Map-min.png");
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.bg::after {
    display: block;
} */

.Home {
    margin: 0 auto;
	min-height: 50vh;
	align-items: center;
}

.HPButton {
    width: 235px;
    height: 40px;
    text-align: center;
    text-decoration: none;
	border-radius: 8px;
	background-color: #693e4f;
    color: #c3cfe2;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.4s;
	/* padding: 4px 4px; */
	/* float: left; */
	margin: 25px 30px;
}

.HPButton:hover {
    background-color: #8b6977;
    color: #dbdfe7;
}

.HPButton:disabled {
    /* color: rgb(37, 241, 146); */
    opacity: .3;
	cursor: not-allowed;
}

.T1{
	font-size: 70px;
	font-weight: bolder;
	color: #2a264b;
	padding: 20px 0 20px 0;	

}

.T2{
	font-size: 40px;
	font-weight: bold;
	color: #4d3e69;
    padding: 0 0 10px 0;
    margin: 10px 0 0 0;
}

.h2{
	padding: 10px 0;
}

.AltText{
	font-size: 24px;
	font-weight: bold;
	color: #4b2626;
    padding: 5px 0 5px 0;	
}

.Timer{
	clear: both;
	float: none;
    padding: 20px 0;
}

.ButtonText{
    margin-bottom: 15px;
    /* margin-top: 20px; */
    display: flex;
    flex-flow: row wrap;
    float: left;
    width: 100%;
    justify-content: center;
}

.PM {
    display: flex;
    flex-flow: row wrap;
}
/* 
@media (min-width: 520px) {
    .ints{
        width: 30%;
        margin: 10% 0;
        float: left;
    }

    .Map{
        width: 40%;
        float: left;
    }

    .districts{
        width: 30%;
        float: left;
    }

    .bg {
        background-image: none;
        margin-top: -25px;
    }

    .bg::after {
        content: "";
        clear: both;
        display: table;
    }
} */
