/* .ints{
    width: 45%;
    float: left;
}

.bg {
    background-image: url("../../assets/images/Map-min.png");
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.bg::after {
    display: block;
} */

.Home {
    margin: 0 auto;
	min-height: 50vh;
	align-items: center;
}

.Button {
	width: 235px;
    text-align: center;
    text-decoration: none;
	border-radius: 8px;
	background-color: #693e4f;
    color: #c3cfe2;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-size: 24px;
    font-weight: bold;
    transition-duration: 0.4s;
	padding: 15px 15px;
	/* float: left; */
	margin: 25px 30px;
}

.Button:hover {
    background-color: #8b6977;
    color: #dbdfe7;
}

.Button:disabled {
    /* color: rgb(37, 241, 146); */
    opacity: .3;
	cursor: not-allowed;
}

.T1{
	font-size: 68px;
	font-weight: bolder;
	color: #2a264b;
	padding: 20px 0 40px 0;	

}

.T2{
	font-size: 36px;
	font-weight: bold;
	color: #4d3e69;
	padding: 0 0 20px 0;
}

.h2{
	padding: 10px 0;
}
.AltText{
	font-size: 24px;
	font-weight: bold;
	color: #4b2626;
	padding: 15px 0 15px 0;	
}

Timer{
	clear: both;
	float: none;
	padding: 40px 0;
}

/* 
@media (min-width: 520px) {
    .ints{
        width: 30%;
        margin: 10% 0;
        float: left;
    }

    .Map{
        width: 40%;
        float: left;
    }

    .districts{
        width: 30%;
        float: left;
    }

    .bg {
        background-image: none;
        margin-top: -25px;
    }

    .bg::after {
        content: "";
        clear: both;
        display: table;
    }
} */
