.Speakers {
    /* margin: 0 auto; */
	min-height: 70vh;
    /* align-items: center; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.PageSPK{
    min-height: 100vh;
}

