.Input {
    width: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
}

.ClearFlex {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    color: rgb(2, 61, 32);
}

.ClearMargrin {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: rgb(2, 61, 32)
}

.InputElement {
    outline: none;
    /* border: 1px solid #ccc; */
    /* background-color: rgb(0, 255, 200); */
    font: inherit;
    font-size: 15px;
    padding: 6px 10px;
    display: block;
    height: 35px;
    /* width: 100%; */
    /* box-sizing: border-box; */
}

.Input [type=file]{
    width: 230px;
}

.Input [type=text]{
    width: 230px;
    color: #72f1b6;
    background-color: rgb(2, 61, 32);
    height: 30px;
    margin-bottom: 10px;
}

.Input [type=textarea]{
    width: 230px;
    height: 50px;
    color: #72f1b6;
     /* padding: 6px 10px; */
    background-color: rgb(2, 61, 32);
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

select {
    width: 20px;
    /* height: 500px; */
    background-color: rgb(2, 61, 32);
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.Input [type=date]{
    width: 230px;
    color: #72f1b6;
    background-color: rgb(2, 61, 32);
    height: 30px;
    margin-bottom: 10px;
}

.Input [type=time]{
    width: 230px;
    color: #72f1b6;
    background-color: rgb(2, 61, 32);
    height: 30px;
    margin-bottom: 10px;
}

.InputElement:focus {
    outline: none;
    background-color: rgb(87, 83, 83);
}

.ClearWidth {
    outline: none;
    border: 1px solid #ccc;
    background-color: rgb(0, 255, 200);
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: rgb(2, 61, 32)
}

.ClearWidth:focus {
    outline: none;
    background-color: rgb(241, 236, 236);
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

@media (min-width: 520px) {
    .Input {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .ClearFlex {
        display: block;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .Label {
        width: 25%;
        text-align: left;
    }

    .ClearMargrin {
        width: 25%;
        margin-left: 30%;
    }
    
    .InputElement {
        width: 75%;
    }

    .ClearWidth {
        width: 100%;
    } 
}