/* .ints{
    width: 45%;
    float: left;
}

.bg {
    background-image: url("../../assets/images/Map-min.png");
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.bg::after {
    display: block;
} */

.HLeft{
    float: left;
    width: 50%;
    text-align: center;
    /* padding-left:5%; 
    padding-top: 15px; */
    height: 250px;
}

.HRight{
    float: right;
    width: 25%;
    text-align: center;
    /* padding-right:5%; 
    padding-top: 15px; */
    height: 250px;
}

.Home {
    margin: 0 auto;
    min-height: 50vh;
}


/* 
@media (min-width: 520px) {
    .ints{
        width: 30%;
        margin: 10% 0;
        float: left;
    }

    .Map{
        width: 40%;
        float: left;
    }

    .districts{
        width: 30%;
        float: left;
    }

    .bg {
        background-image: none;
        margin-top: -25px;
    }

    .bg::after {
        content: "";
        clear: both;
        display: table;
    }
} */
